.btn{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}
.books{
    font-family: 'Times New Roman', Times, serif;
}